<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514103970987-qpnbq5oi77kl2gftit5n3iv1skv9kvdo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514103970987-qpnbq5oi77kl2gftit5n3iv1skv9kvdo</string>
	<key>API_KEY</key>
	<string>AIzaSyDAWGjun8TWcBbiB78T6w7wtlN5deKc7ko</string>
	<key>GCM_SENDER_ID</key>
	<string>514103970987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weatherapi</string>
	<key>PROJECT_ID</key>
	<string>flutter-weatherapp-06</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-weatherapp-06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514103970987:ios:9e38983b0f25a195703bee</string>
</dict>
</plist>